<div class="page" data-page="boxBuy">
  <div class="navbar no-margin-bottom" style="border-bottom: 1px solid rgb(196, 196, 196);">
    <div class="navbar">
      <div class="navbar-bg "></div>
      <div class="navbar-inner row no-gap justify-content-left" style="width: 100%;">
          <div class="col-15 margin-top-half text-align-center">
            <i class="bi bi-sort-numeric-down sortById" style="border: 1px solid black;padding: 1px;"></i>
          </div>
          <div class="col-70 padding-top-half text-align-center">
           سبد خرید
          </div>
          <div class="col-15 margin-top-half text-align-center">
            <i class="icon icon-back closeBoxBuy"></i>
          </div>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="margin-top-half row justify-content-center" style="width: 100%;">
      <input type="text" placeholder="جستجو" class="text-align-center searchBoxBuy padding-horizontal padding-vertical-half" style="width: 70%; border-radius: 4px;font-size:20px; background-color: rgb(214, 214, 214); border: 1px solid black; "/>
    </div>
    <div class="margin-top list" >
      <ul class="no-margin listBoxBuy row no-gap justify-content-center" style="list-style: none; background-color: inherit;">
      </ul>  
    </div>
  </div>
</div>