<div class="page" data-page="boxBuyCustomer">
  <div class="navbar no-margin-bottom" style="border-bottom: 1px solid rgb(196, 196, 196); ">
    <div class="row">
      <div class="col-15 margin-top-half">
        <i class="bi bi-cart4 padding-right padding-top addToCarts" style="font-size: 26px;" ></i>
      </div>
      <div class="col-70 padding-right-half padding-top-half text-align-center">
        سفارشات سبد خرید
      </div>
      <div class="col-15 margin-top-half">  
        <i class="icon icon-back backToUserInfoPage"></i>
      </div>
    </div>
  </div>
  <div class="toolbar toolbar-bottom margin-right">
    <div class="toolbar-inner margin-right">
      <div class="padding-right">
        <b><p class="sumPrice" style="color: rgb(4, 7, 165);"></p></b>
        
      </div>
      <a href="" class="button button-fill margin-left payMoney bg-color-green" style="font-size: 18px;"><b>پرداخت</b></a>
    </div>
  </div>
  <div class="page-content">
   
    <div class="block no-margin-top no-padding">
      <div class="margin-top-half list">
        <ul class=" listBuyProduct" style="list-style: none;">
        </ul>  
      </div>
     
    </div>
  </div>
</div>