<div data-page="login" class="page">
  <div class="page-content login-screen-content " > 
    <div class="row justify-content-center">
      <div class="row no-gap col-80 margin-bottom" style="margin-top: 40px;">
        <div class="col-10 logoImage text-align-center margin-top" style="width: 100px;height: 50px;"></div>
        <div class="col-65 padding-top-half margin-top " style="font-size: 25px;;">kamelapp</div>
      </div>
      <div class="col-85 margin-top justify-content-center">
        <div class="margin-top justify-content-center row">
          
          <div class="text-align-center justify-content-center" style="position: absolute;border-radius: 5px; width: 80%;margin-top: 50px;padding-top: 30px; background:linear-gradient(to bottom left,rgb(140, 168, 228),rgb(13, 166, 226))" >
            <div class="margin-top" style="border-radius: 30px;">

              <form id="loginForm" class="margin-top ">
                <div class="list">
                  <ul class="justify-content-center row">
                    <li class="no-padding item-input bg-color-white row col-80 no-gap" style="border-radius: 2px;">
                      <i class="bi bi-person col-20 bg-color-gray no-margin" style="font-size: 22px; padding: 5px 2px;"></i>
                      <input type="text" name="username" placeholder="نام کاربری" class="col-75" style="width: 75%;padding-top: 5px;"/>
                    </li>
                    <li class="col-80">
                      <div class="wrongUsername text-color-red text-align-right"></div>
                    </li>
                    <li class="no-padding item-input bg-color-white row col-80 no-gap margin-top" style="border-radius: 2px;">
                      <i class="bi bi-lock col-20 bg-color-gray no-margin" style="font-size: 22px; padding: 5px 2px;"></i>
                      <input type="password" name="password" placeholder="رمز عبور" class="col-75" style="width: 75%;padding-top: 5px;"/>
                      
                    </li>
                    <li>
                      <div class="wrongPassword text-color-red text-align-right"></div>
                    </li>
                    
                  
                    <li class="padding-vertical justify-content-center col-50 justify-content-center">
                      <a class="button button-round button-fill loginUser padding-vertical margin-horizontal-half">ورود</a></li>
                  </ul>
                </div>
              </form>
            </div>
          </div>
          
          <i class="bi bi-person" style=" position: absolute;font-size:50px; border-radius: 70px; padding:10px 20px;background:linear-gradient(to bottom ,rgb(11, 236, 218),rgb(93, 166, 250)) ;"></i>
          
        </div>

      </div>

      
      

    </div>
  </div>


</div>