<div data-page="mainMenu" class="page">
  <div class="navbar">
    <div class="navbar-bg "></div>
    <div class="navbar-inner row padding-vertical">
      
      <div class="col-15 justify-content-start"> 
        <i class="f7-icons panelRrightOne">line_horizontal_3</i>
      </div> 
      <div class="col-80 text-align-center padding-left"> 
        صفحه اصلی
      </div>
        
      
    </div>
  </div>
  <div class="page-content">
    <div class="no-padding-top no-margin-top">
      <ul class="text-color-white row justify-item-center no-padding no-margin-top" style="list-style: none;">
        <li class="list-style-none col-95 margin-vertical-half margin-horizontal buySTH" style="width:100%;  border-radius: 10px; background-image: linear-gradient(to bottom left, rgba(166, 247, 166, 0.938), rgb(70, 211, 70));">
        <div class="row col-100 " style="padding:15px 10px">
          <div class="col-20">
            <i class="bi bi-cart4 " style="font-size: 45px;"></i>
          </div>
          <div class="col-80">
            <div class="item-title padding-bottom-half" style="font-size: 24px;"><b>خرید</b></div>
            <div class="item-after" style="font-size: 18px;">فاکتور و سفارش خود را ثبت کنید</div>
          </div>
        </div>
        </li>
        <li class="list-style-none col-95 margin-vertical-half margin-horizontal boxBuy" style=" width:100%; border-radius: 10px; background-image: linear-gradient(to bottom left, rgb(200, 239, 241), rgb(32, 200, 252) );">
        <div class="row col-100" style="padding:15px 10px">
          <div class="col-20">
            <i class="bi bi-basket2" style="font-size: 45px;"></i>
          </div>
          <div class="col-80">
            <div class="item-title padding-bottom-half" style="font-size: 24px;"><b>سبد خرید</b></div>
            <div class="item-after" style="font-size: 18px;">سفارشات ناتمام خود را مشاهده کنید</div>
          </div>
        </div>
        </li>
        <li class="list-style-none col-95 margin-vertical-half margin-horizontal forbettervision" style="width:100%; border-radius: 10px;  background-image: linear-gradient(to bottom left, rgb(247, 184, 184), rgb(238, 44, 44));">
        <div class="row col-100 " style="padding:15px 10px">
          <div class="col-20">
            <i class="bi bi-credit-card " style="font-size: 45px;"></i>
          </div>
          <div class="col-80">
            <div class="item-title padding-bottom-half" style="font-size: 24px;"><b>حضور و غیاب</b></div>
            <div class="item-after" style="font-size: 16px;">زمان ورود و خروج پرسنل را ثبت کنید</div>
          </div>
        </div>
        </li>
        <li class="list-style-none col-95 margin-vertical-half margin-horizontal forbettervision" style="width:100%; border-radius: 10px;  background-image: linear-gradient(to bottom left, rgb(236, 174, 236), rgba(176, 23, 247, 0.993));">
          <div class="row col-100 " style="padding:15px 10px">
          <div class="col-20">
            <i class="bi bi-wallet2" style="font-size: 45px;"></i>
          </div>
          <div class="col-80">
            <div class="item-title padding-bottom-half"  style="font-size: 24px;"><b>عملیات بانکی</b></div>
            <div class="item-after" style="font-size: 18px;">سفارشات خود را محاسبه و ثبت کنید</div>
          </div>
        </div>
        </li>
        <li class="list-style-none col-95 margin-vertical-half margin-horizontal forbettervision" style="width:100%; border-radius: 10px; background-image: linear-gradient(to bottom left, rgb(255, 255, 255),rgb(27, 27, 27));">
          <div class="row col-100 " style="padding:15px 10px">
          <div class="col-20">
            <i class="bi bi-person-vcard" style="font-size:45px;"></i>
          </div>
          <div class="col-80">
            <div class="item-title padding-bottom-half" style="font-size: 24px;"><b>خرید اقساطی</b></div>
            <div class="item-after" style="font-size: 16px;">فاکتور و سفارش اقساط خود را ثبت کنید</div>
          </div>
        </div>
        </li>
      </ul>
    </div>
  </div>
</div>   