<div class="page" data-page="payment">
  <div class="navbar "style="border-bottom: 1px solid rgb(196, 196, 196);">
    <div class="row">
      <div class="col-50 padding-right padding-top-half">
        صفحه پرداخت
      </div>
      <div class="col-15 margin-top-half">
        <i class="icon icon-back backToBoxBuyCustomerPage"></i>
      </div>
    </div>
  </div>   
  <div class="page-content">
    <div class="block">
      <div class="margin-right">
        <p class="sumPrice color-black text-color-black"></p>
        <p class="sumPriceNow" style='color:rgb(4, 7, 165);'></p>
      </div>
      <div class="list no-hairlines-md no-margin-top margin-bottom-half">
        <ul>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label padding-bottom-half" style="font-size: 15px;">پرداخت نقدی </div>
              <div class="item-input-wrap">
                <input type="text" class="text-align-center cash" placeholder="پرداخت نقدی" style="border:1px solid rgb(247, 247, 247); border-radius: 4px;"/>
                <span class="input-clear-button"></span>
              </div>
              <div class="wrongName text-color-red"></div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label padding-bottom-half" style="font-size: 15px;">تخفیف</div>
              <div class="item-input-wrap">
                <input type="number" class="text-align-center sale" placeholder="---" style="border:1px solid rgb(247, 247, 247); border-radius: 4px;"/>
                <span class="input-clear-button"></span>
              </div>
              <div class="wrongMobile text-color-red"></div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label padding-bottom-half" style="font-size: 15px;">هزینه اضافی</div>
              <div class="item-input-wrap">
                <input type="text" class="text-align-center additional" placeholder="هزینه اضافی" style="border:1px solid rgb(247, 247, 247); border-radius: 4px;"/>
                <span class="input-clear-button"></span>
              </div>
              <div class="wrongAddress text-color-red"></div>
            </div>
          </li>
          <li class="margin-top-half margin-right">
            <a class="button button-fill button-radius bg-color-green" style="font-size: 18px;">پرداخت</a>
          </li>
        </ul>
      </div>
      <div class="row">

      </div>
    </div>
  </div> 
</div>