<div data-page="product" class="page">
  <div class="navbar navbar-large">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="row no-gap " style="width: 100%;">
        <div class="col-10 padding-top-half">
          <i class="bi bi-upc-scan barcode" style="padding-right: 3px;"></i>
        </div>
        <div class="col-80 margin-top-half">
          <input type="text" placeholder="جستجو" class="text-align-center search padding-horizontal" style="width: 90%; border-radius: 4px; margin-right: 3px; background-color: rgb(214, 214, 214); border: 1px solid black; margin-right: 12px;"/>
        </div>
        <div class="col-10 margin-top-half padding-right-half">
          <i class="bi bi-arrow-left closeProduct"></i>
        </div>
      </div>
 
      <div class="title-large">
        <div class="title-text sliding no-padding padding-bottom-half row categories" style="flex-wrap: nowrap; overflow:scroll;  ">
        </div>
      </div>
    </div>

  </div>
  <div class="toolbar toolbar-bottom margin-right">
    <div class="toolbar-inner margin-right">
      <div class="padding-right">
        <b><p class="sumPrice" style="color: rgb(4, 7, 165);"></p></b>
        
      </div>
      <a href="" class="button button-fill margin-left userInfoPage bg-color-green" style="font-size: 18px;"><b>مرحله بعد</b></a>
    </div>
  </div>
  <div class="page-content ">
    
    <div class="margin-top list">
      <ul class="no-margin listProduct" style="list-style: none;">
      </ul>  
    </div>
   
  </div>
</div>