<div data-page="userInfo" class="page">
  <div class="navbar "style="border-bottom: 1px solid rgb(196, 196, 196);">
    <div class="row">
      <div class="col-50 padding-right padding-top-half">
        اطلاعات مشتری
      </div>
      <div class="col-15 margin-top">
        <i class="icon icon-back backToProductPage"></i>
      </div>
    </div>
  </div>
  <div class="toolbar toolbar-bottom margin-right">
    <div class="toolbar-inner margin-right">
      <div class="padding-right">
        <p class="sumPrice"></p>
        
      </div>
      <a href="" class="button button-fill margin-left boxBuyCustomerPage">مرحله به بعد</a>
    </div>
  </div>
  <div class="page-content">
    
    <div class="block no-margin-top ">
      <div class="list no-hairlines-md no-margin-top margin-bottom-half">
        <ul>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label padding-bottom-half" style="font-size: 20px;">نام و نام خانوادگی</div>
              <div class="item-input-wrap">
                <input type="text" class="text-align-center name" placeholder="نام و نام خانوادگی مشتری را وارد کنید" style="border:1px solid rgb(247, 247, 247); border-radius: 4px;"/>
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label padding-bottom-half" style="font-size: 20px;">شماره تلفن همراه</div>
              <div class="item-input-wrap">
                <input type="number" class="text-align-center mobile" placeholder="شماره تلفن مشتری را وارد کنید" style="border:1px solid rgb(247, 247, 247); border-radius: 4px;"/>
                <span class="input-clear-button"></span>
              </div>
              
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label padding-bottom-half" style="font-size: 20px;">آدرس</div>
              <div class="item-input-wrap">
                <input type="text" class="text-align-center address" placeholder="آدرس  مشتری را وارد کنید" style="border:1px solid rgb(247, 247, 247); border-radius: 4px;"/>
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label padding-bottom-half" style="font-size: 20px;">نوع مشتری</div>
              <div class="item-input-wrap">
                <div class="row padding-right-half">
                  <div class="col-40">
                    <label class="radio"><input type="radio" name="demo-radio-inline" class="normal"/><i class="icon-radio"></i></label>
                    همکار
                  </div>
                  <div class="col-50">
                    <label class="radio"><input type="radio" name="demo-radio-inline" /><i class="icon-radio"></i></label>
                    عادی
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label padding-bottom-half" style="font-size: 20px;">توضیحات</div>
              <div class="item-input-wrap">
                <textarea placeholder="توضیحات را وارد کنید" tyle="border:1px solid rgb(247, 247, 247); border-radius: 4px;" class="info"></textarea>
                
                <span class="input-clear-button " style="margin-top: 55px; margin-right: 270px;"></span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      
    </div>
  </div>
</div>