.bg-color-customOne {
  --f7-theme-color-bg-color: #1948e2;
}

.checkboxDarkmode{
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkboxDarkmode .ball {
  background-color: #fff;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.3s linear;
}

.checkbox:checked + .checkboxDarkmode .ball {
  transform: translateX(24px);
}

.checkboxUserInfo{
  
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkboxUserInfo .ball {
  background-color: #fff;
  width: 33px;
  height: 33px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.3s linear;
}

.checkbox:checked + .checkboxUserInfo .ball {
  transform: translateX(24px);
}



.checkboxMaliat{
  
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkboxMaliat .ball {
  background-color: #fff;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.3s linear;
}

.checkbox:checked + .checkboxMaliat .ball {
  transform: translateX(24px);
}


.test{
  width: 80px;
  height: 45px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.test .ball {
  background-color: #fff;
  width: 45px;
  height: 45px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.3s linear;
}

.checkbox:checked + .test .ball {
  transform: translateX(34px);
}


div.starBackground{
  background-image: url(../images/default.png);
  background-size: 100px 60px ;
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 0px;
  
}

div.logoImage{
  background-image: url('../images/logoKamelapp.png');
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: left;
}

li.buySTH{
  box-shadow: 6px 5px rgb(184, 183, 183);
  transition: 0.15s ;
}

li.buySTH:active{
  box-shadow: none;
}

li.boxBuy{
  box-shadow: 6px 5px rgb(184, 183, 183);
  transition: 0.3s ;
}

li.boxBuy:active{
  box-shadow: none;
}

li.forbettervision{
  box-shadow: 6px 5px rgb(184, 183, 183);
  transition: 0.2s;
}
li.forbettervision:active{
  box-shadow: none;
}